/* Smooth Transition for Service List */
.service-list-container {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(20px);
  }
  
  /* Category Tabs */
  .nav-tabs {
    list-style: none;
    padding: 0;
  }
  
  .nav-tabs .tab {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-tabs .tab.active {
    background-color: #007bff;
    color: white;
  }
  
  .nav-tabs .icon {
    max-width: 50px;
    margin-bottom: 5px;
  }
  .container-left{
    width: 200px;
  }



  
  .service-list-container {
    max-height: 700px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px; /* Optional: Add some padding */
    /* border: 1px solid #ccc; Optional: Add a border */
    /* background-color: #f9f9f9; Optional: Background color */
  }
  
  .service-list-container {
    overflow: auto; /* Allow scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
  }
  
  .service-list-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  @media (max-width:767px){
  .container-left .nav-tabs{
    gap: 20px !important;
  }
 
  }
  @media (max-width:425px){
  .container-left .nav-tabs{
    gap: 30px !important;
  }
} 
  @media (max-width:320px){
  .total-value p{
    font-size: 12px !important;
  }
  
}