/* .main-banner-wrapper .main-title{
    font-size: 30px;
    font-weight: 400;
    line-height: initial;
    line-height: 30px;
    color: rgba(15, 15, 15, 1.00);
    font-family: "Kanit", sans-serif;
    position: relative;
    z-index: 000;
} */