#Navbar{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 20;
    margin: 0px !important;
    /* border: 2px solid red !important; */
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    width: 220px;
    border: none !important;
    border-radius: 0px !important;
    border-top: 3px solid #ec0625fd !important;
    animation: fadeIn 0.5s ease-in-out; /* Adding fade-in animation */
    transition: all ease-in-out 0.5s;
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Slide up effect */
    visibility: hidden;
    font-size: 15px !important;
}

.dropdown-menu.show {
    opacity: 1; /* Make it visible */
    transform: translateY(0); /* Reset the position */
    visibility: visible;
}
.dropdown-item{
    padding: 10px 10px !important;
    border-bottom:1px solid #f0f0f0;
}
.dropdown-item:hover {
    background-color: #ec0625fd !important;
    animation: fadeIn 0.5s ease-in-out; /* Adding fade-in animation */
    transition: all ease-in-out 0.5s;
}

/* Ensure the dropdown opens on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block !important; /* Ensure it displays */
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
    transform: translateY(0); /* Reset any upward movement */
    animation: fadeIn 0.3s ease-in-out; /* Optional: smooth animation */
}

/* Dropdown hidden by default */
.dropdown-menu {
    display: none; /* Ensure default is hidden */
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px); /* Move slightly upward for animation effect */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.phone-link:hover{
    color: #ff0022 !important;
}

.btn-sm-add:hover{
    color: #f0f0f0 !important;
}

@media (max-width:"1024px"){
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-item .nav-links{
        font-size: 10px !important;
    }
}